Employees1_PhonesAddress/src/main/resources/schemas/employees1_PhonesAddress.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="employeeversion1">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employees">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="employee" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="lastname"/>
                                        <xs:element type="xs:string" name="firstname"/>
                                        <xs:element name="phones">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:int" name="mobile"/>
                                                    <xs:element type="xs:int" name="home"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="address">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="street"/>
                                                    <xs:element type="xs:string" name="suburb"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>